serverName=https://localhost:8443
casServerUrlPrefix=https://cas.example.com/cas
casServerLoginUrl=https://cas.example.com/cas/login
renew=false
Cas20ProxyReceivingTicketValidationFilter.proxyCallbackUrl=https://localhost:8443/secure/proxyReceptor
Cas20ProxyReceivingTicketValidationFilter.proxyReceptorUrl=/secure/proxyReceptor
Cas20ProxyReceivingTicketValidationFilter.redirectAfterValidation=true
Cas20ProxyReceivingTicketValidationFilter.allowedProxyChains=https://localhost:8443/secure/
