<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%date - %level [%logger:%line] - %msg%n%ex{5}</pattern>
        </encoder>
    </appender>

    <logger name="ch.qos.logback" level="WARN" />
    <logger name="org.jasig.cas" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
