<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  
  <display-name>Java CAS Client Test Application</display-name>

  <context-param>
    <param-name>configurationStrategy</param-name>
    <param-value>PROPERTY_FILE</param-value>
  </context-param>
  <context-param>
    <param-name>configFileLocation</param-name>
    <param-value>/data/java-cas-client.properties</param-value>
  </context-param>
  
  <filter>
    <filter-name>CASSingleSignOutFilter</filter-name>
    <filter-class>
      org.jasig.cas.client.session.SingleSignOutFilter
    </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CASSingleSignOutFilter</filter-name>
    <url-pattern>/secure/*</url-pattern>
    <url-pattern>/proxied/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>CASValidationFilter</filter-name>
    <filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CASValidationFilter</filter-name>
    <url-pattern>/secure/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>CASAuthenticationFilter</filter-name>
    <filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CASAuthenticationFilter</filter-name>
    <url-pattern>/secure/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>CASProxyFilter</filter-name>
    <filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>CASProxyFilter</filter-name>
      <url-pattern>/proxied/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>CASHttpServletRequestWrapperFilter</filter-name>
    <filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CASHttpServletRequestWrapperFilter</filter-name>
    <url-pattern>/secure/*</url-pattern>
    <url-pattern>/proxied/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>CASAssertionThreadLocalFilter</filter-name>
    <filter-class>org.jasig.cas.client.util.AssertionThreadLocalFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CASAssertionThreadLocalFilter</filter-name>
    <url-pattern>/secure/*</url-pattern>
    <url-pattern>/proxied/*</url-pattern>
  </filter-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Define HTTPS security constraint on this application -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Java CAS Client Test Application</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee> 
    </user-data-constraint>
  </security-constraint>
</web-app>

